// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$bluePrimary: #0097d7;
$orangePrimary: #f37121;
$white: #f9f7f4;
$overlay: rgba(93, 144, 183, 0.5);

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15pt;
}

img{
  display: block;
}

// Sikrer billeder er responsive
.dk {
  display: block; // Billeder er et element (laver linjeskift)
  width: 100%;
  height: auto;
  grid-column: 3/span 2;
  grid-row-start: 5;
  margin-top: 15px;
}

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $bluePrimary;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}


#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(100, 50px);
    h1{
      font-family: 'Libre Baskerville', serif;
      font-size: 25pt;
      grid-column: 1/span 6;
      grid-row-start: 2;
      text-align: center;
  }
    h2{
      font-family: 'Libre Baskerville', serif;
      font-size: 20pt;
      grid-column: 1/span 6;
      grid-row-start: 10;
      text-align: center;
    }
    h3{
      font-family: "Merriweather Sans";
      font-size: 15pt;
      grid-column: 1/span 6;
      grid-row-start: 3;
      text-align: center;
    }
}

#circle1{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid $orangePrimary;
  grid-column: 2/span 5;
  grid-row-start: 5;
  margin-left: 10px;
}

#circle2{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid $orangePrimary;
  grid-column: 2/span 5;
  grid-row-start: 11;
  margin-left: 10px;
}

footer{
  background-color: $bluePrimary;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}

// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $bluePrimary;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }


}


@media print {
  // Alt der gælder for print specifikt
}