* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f9f7f4; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12pt; }

.slagelsetekst {
  color: black;
  grid-column: 3/span 2;
  grid-row-start: 5;
  margin-top: 15px;
  display: none; }

.globaltekst {
  color: black;
  grid-column: 3/span 2;
  grid-row-start: 15;
  display: none; }

img {
  display: block; }

.dk {
  display: block;
  width: 100%;
  height: auto;
  grid-column: 3/span 2;
  grid-row-start: 5;
  margin-top: 15px; }

.world {
  display: block;
  width: 160%;
  height: auto;
  grid-column: 3/span 2;
  grid-row-start: 15;
  margin-top: -30px;
  margin-left: -30px; }

.web {
  display: none; }

#menuMobil {
  height: 60px;
  width: 100%;
  background-color: #0097d7;
  padding: 7px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  #menuMobil img {
    margin-left: 20px;
    height: 100%;
    width: auto; }
  #menuMobil i {
    color: white;
    margin: 5px 20px; }

#mobilAlt {
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(20, 50px); }
  #mobilAlt h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25pt;
    grid-column: 1/span 6;
    grid-row-start: 2;
    text-align: center; }
  #mobilAlt h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20pt; }
  #mobilAlt h3 {
    font-family: "Merriweather Sans";
    font-size: 15pt;
    grid-column: 1/span 6;
    grid-row-start: 3;
    text-align: center; }
  #mobilAlt h4 {
    font-family: "Merriweather Sans";
    font-size: 18pt;
    color: white;
    text-align: center; }
  #mobilAlt .slagelse {
    grid-column: 1/span 6;
    grid-row-start: 9;
    margin-top: 25px;
    text-align: center; }
  #mobilAlt .globalt {
    grid-column: 1/span 6;
    grid-row-start: 17;
    margin-top: 25px;
    text-align: center; }
  #mobilAlt .button1 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 3/span 2;
    grid-row-start: 11;
    margin-left: -2px; }
  #mobilAlt .button2 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 3/span 2;
    grid-row-start: 19;
    margin-left: -2px; }

#circle1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid #f37121;
  grid-column: 2/span 5;
  grid-row-start: 5;
  margin-left: 10px; }

#circle2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid #f37121;
  grid-column: 2/span 5;
  grid-row-start: 13;
  margin-left: 10px; }

footer {
  background-color: #0097d7;
  color: white;
  height: 150px;
  padding: 22px 50px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  footer p {
    margin-top: 15px; }
  footer #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    footer #some i {
      margin: 3px 0; }

@media screen and (min-width: 1200px) {
  .web {
    display: inline; }

  .mobil, #mobilAlt, #menuMobil, footer {
    display: none; }

  #flex_alt {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between; }

  #left_menu {
    background-color: #0097d7;
    height: 100vh;
    width: 300px; }
    #left_menu #logo {
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto; }

  #grid {
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%; } }

/*# sourceMappingURL=hvem_er_jci.css.map */
