* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f9f7f4; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif; }

.web {
  display: none; }

.active {
  border-bottom: solid #f37121 3px;
  width: 153px; }

#burgerFold {
  padding: 8% 0 5% 15%;
  display: none;
  width: 100vw;
  margin: auto;
  background-color: #0097d7;
  height: 100vh;
  position: absolute;
  z-index: 5;
  padding-left: 20%; }
  #burgerFold a {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 15pt;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif; }
    #burgerFold a:hover {
      color: #fccc28; }
  #burgerFold .flexMenu {
    display: flex;
    display: -webkit-flex;
    justify-content: left; }
  #burgerFold .hvemKlik, #burgerFold .hvemKlik2, #burgerFold .medKlik, #burgerFold .medKlik2 {
    color: white;
    margin-right: 2%;
    cursor: pointer; }
  #burgerFold .hvemKlik, #burgerFold .medKlik2 {
    display: none; }
  #burgerFold .undermenu2 {
    margin-left: 10%;
    display: none; }
  #burgerFold .undermenu1 {
    margin-left: 10%; }
  #burgerFold button {
    height: 30px;
    background-color: #f37121;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 18pt;
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 18pt;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 8% 0; }
    #burgerFold button a {
      text-decoration: none;
      font-family: 'Merriweather Sans', sans-serif;
      color: white;
      font-size: 18pt; }
    #burgerFold button:hover {
      background-color: #fccc28; }
  #burgerFold .kontakt {
    margin: 5% 0;
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 15pt; }

#menuMobil {
  height: 60px;
  width: 100%;
  background-color: #0097d7;
  padding: 7px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  #menuMobil img {
    margin-left: 20px;
    height: 100%;
    width: auto; }
  #menuMobil i {
    color: white;
    margin: 5px 20px; }

#mobilAlt {
  font-size: 12pt;
  padding: 0 20px 0 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(20, 50px); }
  #mobilAlt h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25pt;
    grid-column: 1/span 6;
    grid-row-start: 2;
    text-align: center;
    font-weight: bold; }
  #mobilAlt h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20pt;
    font-weight: bold; }
  #mobilAlt h3 {
    font-family: "Merriweather Sans";
    font-size: 15pt;
    grid-column: 1/span 6;
    grid-row-start: 3;
    text-align: center; }
  #mobilAlt h4 {
    font-family: "Merriweather Sans";
    font-size: 18pt;
    color: white;
    text-align: center; }
  #mobilAlt #circle1 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #f37121;
    grid-column: 2/span 5;
    grid-row-start: 5;
    margin-left: 10px;
    background-color: #f9f7f4; }
  #mobilAlt .dk {
    display: block;
    width: 100%;
    height: auto;
    grid-column: 3/span 2;
    grid-row-start: 5;
    margin-top: 15px; }
  #mobilAlt .slagelse {
    grid-column: 1/span 6;
    grid-row-start: 9;
    margin-top: 25px;
    text-align: center; }
  #mobilAlt .slagelsetekst {
    color: black;
    grid-column: 3/span 2;
    grid-row-start: 5;
    margin-top: 15px;
    display: none; }
  #mobilAlt .button1 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 3/span 2;
    grid-row-start: 11;
    margin-left: -2px; }
    #mobilAlt .button1 a {
      color: white;
      text-decoration: none; }
    #mobilAlt .button1:hover {
      background-color: #fccc28; }
  #mobilAlt #circle2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #f37121;
    grid-column: 2/span 5;
    grid-row-start: 13;
    margin-left: 10px;
    background-color: #f9f7f4; }
  #mobilAlt .world {
    display: block;
    width: 160%;
    height: auto;
    grid-column: 3/span 2;
    grid-row-start: 15;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 1; }
  #mobilAlt .globalt {
    grid-column: 1/span 6;
    grid-row-start: 17;
    margin-top: 25px;
    text-align: center; }
  #mobilAlt .globaltekst {
    color: black;
    grid-column: 3/span 2;
    grid-row-start: 15;
    margin-top: -30px;
    margin-left: -30px;
    display: none; }
  #mobilAlt .button2 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 3/span 2;
    grid-row-start: 19;
    margin-left: -2px; }
    #mobilAlt .button2 a {
      color: white;
      text-decoration: none; }
    #mobilAlt .button2:hover {
      background-color: #fccc28; }

footer {
  background-color: #0097d7;
  color: white;
  height: 150px;
  padding: 22px 50px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  footer p {
    margin-top: 12px; }
  footer #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    footer #some i {
      margin: 3px 0; }
      footer #some i:hover {
        color: #fccc28; }

@media screen and (min-width: 410px) {
  #burgerFold {
    padding-left: 25%;
    height: 80vh; } }
@media screen and (min-width: 768px) {
  body {
    background-image: url("../images/network768.png");
    background-repeat: no-repeat; }

  h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20pt; }

  h3 {
    font-family: "Merriweather Sans";
    font-size: 15pt;
    grid-column: 1/span 6;
    grid-row-start: 3;
    text-align: center;
    font-weight: bold; }

  h4 {
    font-family: "Merriweather Sans";
    font-size: 18pt;
    color: white;
    text-align: center; }

  #burgerFold {
    padding-left: 35%;
    height: 68vh; }

  #menuMobil {
    height: 100px; }
    #menuMobil i {
      font-size: 40pt;
      margin-top: 15px; }

  #mobilAlt #circle1 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #f37121;
    grid-column: 1/span 2;
    grid-row-start: 6;
    margin-left: 50px;
    background-color: #f9f7f4; }
  #mobilAlt .dk {
    display: block;
    width: 50%;
    height: auto;
    grid-column: 1/span 2;
    grid-row-start: 6;
    margin-top: 5px;
    margin-left: 85px; }
  #mobilAlt .slagelse {
    grid-column: 1/span 2;
    grid-row-start: 4;
    margin-left: 70px;
    margin-top: 50px; }
  #mobilAlt .slagelsetekst {
    color: black;
    grid-column: 1/span 4;
    grid-row-start: 6;
    margin-top: 15px;
    margin-left: 50px;
    display: none; }
  #mobilAlt .button1 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 1/span 2;
    grid-row-start: 9;
    margin-left: 50px;
    margin-top: 20px;
    display: none; }
  #mobilAlt #circle2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #f37121;
    grid-column: 5/span 2;
    grid-row-start: 14;
    margin-left: -5px;
    background-color: #f9f7f4; }
  #mobilAlt .world {
    display: block;
    width: 75%;
    height: auto;
    grid-column: 5/span 2;
    grid-row-start: 14;
    margin-top: 60px;
    margin-left: 8px;
    z-index: 1; }
  #mobilAlt .globalt {
    grid-column: 5/span 2;
    grid-row-start: 12;
    margin-top: 50px;
    margin-left: -50px; }
  #mobilAlt .globaltekst {
    color: black;
    grid-column: 5/span 2;
    grid-row-start: 15;
    margin-top: -30px;
    display: none; }
  #mobilAlt .button2 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 5/span 2;
    grid-row-start: 17;
    margin-top: 20px;
    margin-left: -25px;
    display: none; }

  footer {
    justify-content: center; }
    footer p, footer #some {
      margin: 0 10%; }
    footer p {
      margin-top: 2%; } }
@media screen and (min-width: 992px) {
  body {
    background-image: url("../images/network992.png");
    background-repeat: no-repeat; }

  #burgerFold {
    padding-left: 37%;
    height: 55vh; }

  #mobilAlt .slagelse {
    grid-column: 1/span 2;
    grid-row-start: 4;
    margin-left: 70px;
    margin-top: 50px; }
  #mobilAlt .slagelsetekst {
    color: black;
    grid-column: 3/span 4;
    grid-row-start: 6;
    margin-top: 15px;
    margin-left: 50px;
    display: none; }
  #mobilAlt .button1 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 3/span 2;
    grid-row-start: 9;
    margin-left: 50px;
    margin-top: 20px; }
  #mobilAlt .globalt {
    grid-column: 5/span 2;
    grid-row-start: 12;
    margin-top: 50px;
    margin-left: -50px; }
  #mobilAlt .globaltekst {
    color: black;
    grid-column: 1/span 2;
    grid-row-start: 15;
    margin-top: -30px;
    margin-left: 50px;
    display: none; }
  #mobilAlt .button2 {
    background-color: #f37121;
    width: 110px;
    height: 30px;
    grid-column: 1/span 2;
    grid-row-start: 17;
    margin-left: 70px; } }
@media screen and (min-width: 1024px) {
  body {
    background-image: url("../images/network1024v2.png");
    background-repeat: no-repeat; }

  #mobilAlt {
    font-size: 12pt;
    padding: 0 20px 0 20px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(23, 50px); }
    #mobilAlt #circle1 {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 3px solid #f37121;
      grid-column: 1/span 2;
      grid-row-start: 6;
      margin-left: 60px;
      background-color: #f9f7f4; }
    #mobilAlt .dk {
      display: block;
      width: 45%;
      height: auto;
      grid-column: 1/span 2;
      grid-row-start: 5;
      margin-top: 24%;
      margin-left: 40%; }
    #mobilAlt .slagelse {
      grid-column: 1/span 2;
      grid-row-start: 4;
      margin-left: 50px;
      margin-top: 50px; }
    #mobilAlt .slagelsetekst {
      color: black;
      grid-column: 1/span 4;
      grid-row-start: 7;
      margin-top: 15px;
      margin-left: 100px;
      display: none; }
    #mobilAlt .button1 {
      background-color: #f37121;
      width: 110px;
      height: 30px;
      grid-column: 1/span 2;
      grid-row-start: 10;
      margin-left: 100px;
      margin-top: 20px;
      display: none; }
    #mobilAlt .world {
      display: block;
      width: 70%;
      height: auto;
      grid-column: 5/span 2;
      grid-row-start: 14;
      margin-top: 45%;
      margin-left: -2%;
      z-index: 1; }
    #mobilAlt .globalt {
      grid-column: 4/span 3;
      grid-row-start: 13;
      margin-top: 50px;
      margin-left: 20px; }
    #mobilAlt .globaltekst {
      color: black;
      grid-column: 4/span 2;
      grid-row-start: 17;
      margin-top: -30px;
      margin-left: 100px;
      display: none; }
    #mobilAlt .button2 {
      background-color: #f37121;
      width: 110px;
      height: 30px;
      grid-column: 4/span 2;
      grid-row-start: 19;
      margin-left: 100px;
      display: none; }
    #mobilAlt #circle2 {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 3px solid #f37121;
      grid-column: 5/span 2;
      grid-row-start: 15;
      margin-left: -10%;
      background-color: #f9f7f4; } }
@media screen and (min-width: 1200px) {
  body {
    background-image: url("../images/network1200.png");
    background-repeat: no-repeat; }

  .web {
    display: inline; }

  .mobil, #menuMobil, footer {
    display: none; }

  .active {
    width: 165px; }

  #flex_alt {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between; }

  #left_menu {
    width: 25%; }
    #left_menu #menuIndhold {
      letter-spacing: 1px;
      width: inherit;
      background-color: #0097d7;
      height: 100vh;
      padding: 50px 25px;
      position: fixed; }
      #left_menu #menuIndhold #logo {
        width: 60%;
        margin: auto;
        margin-bottom: 10%; }
      #left_menu #menuIndhold nav a {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        font-size: 15pt;
        margin-bottom: 10px;
        font-family: 'Libre Baskerville', serif; }
        #left_menu #menuIndhold nav a:hover {
          color: #fccc28; }
      #left_menu #menuIndhold .flexMenu {
        display: flex;
        display: -webkit-flex;
        justify-content: left; }
      #left_menu #menuIndhold .hvemKlik, #left_menu #menuIndhold .hvemKlik2, #left_menu #menuIndhold .medKlik, #left_menu #menuIndhold .medKlik2 {
        color: white;
        margin-right: 2%;
        cursor: pointer; }
      #left_menu #menuIndhold .hvemKlik, #left_menu #menuIndhold .medKlik2 {
        display: none; }
      #left_menu #menuIndhold .undermenu2 {
        margin-left: 10%;
        display: none; }
      #left_menu #menuIndhold .undermenu1 {
        margin-left: 10%; }
      #left_menu #menuIndhold nav button {
        height: 30px;
        background-color: #f37121;
        border: none;
        text-decoration: none;
        color: white;
        font-size: 18pt;
        cursor: pointer;
        width: 170px;
        height: 40px;
        padding: 2% 0;
        font-size: 18pt;
        font-family: 'Merriweather Sans', sans-serif;
        margin: 8% 0; }
        #left_menu #menuIndhold nav button a {
          text-decoration: none;
          font-family: 'Merriweather Sans', sans-serif;
          color: white;
          font-size: 18pt; }
        #left_menu #menuIndhold nav button:hover {
          background-color: #fccc28; }
      #left_menu #menuIndhold .kontakt {
        margin: 5% 0;
        font-family: 'Libre Baskerville', serif;
        color: white;
        font-size: 15pt; }
      #left_menu #menuIndhold .soMeCirkler {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid #f37121 3px;
        padding: 2% 3%;
        margin: 5%;
        cursor: pointer; }
        #left_menu #menuIndhold .soMeCirkler i {
          color: white; }
          #left_menu #menuIndhold .soMeCirkler i:hover {
            color: #fccc28; }
      #left_menu #menuIndhold #flexSoMe {
        display: flex;
        display: -webkit-flex;
        justify-content: center; }
      #left_menu #menuIndhold #soMeCirkel3 {
        margin: auto; }
      #left_menu #menuIndhold .fa-facebook-f {
        margin: 7% 0 0 15%; }
      #left_menu #menuIndhold .fa-linkedin {
        margin-left: 3%; }

  #mobilAlt {
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 50px);
    grid-column-gap: 20px;
    width: 75%;
    font-size: 15pt; }
    #mobilAlt p {
      margin: 0;
      padding: 0;
      font-family: "Merriweather Sans", sans-serif; }
    #mobilAlt img {
      display: block; }
    #mobilAlt h1 {
      font-family: 'Libre Baskerville', serif;
      font-size: 30pt;
      grid-column: 4/span 4;
      grid-row-start: 1;
      text-align: center;
      font-weight: bold; }
    #mobilAlt h2 {
      font-family: 'Libre Baskerville', serif;
      font-size: 24pt; }
    #mobilAlt h3 {
      font-family: "Merriweather Sans";
      font-size: 20pt;
      grid-column: 3/span 7;
      grid-row-start: 2;
      margin-top: 20px;
      text-align: center;
      font-weight: bold; }
    #mobilAlt h4 {
      font-family: "Merriweather Sans";
      font-size: 18pt;
      color: white;
      text-align: center; }
    #mobilAlt #circle1 {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 3px solid #f37121;
      grid-column: 1/span 5;
      grid-row-start: 6;
      margin-left: 20%;
      background-color: #f9f7f4; }
    #mobilAlt .dk {
      display: block;
      width: 100%;
      height: auto;
      grid-column: 3/span 2;
      grid-row-start: 5;
      margin-top: 40%;
      margin-left: -18%; }
    #mobilAlt .slagelse {
      grid-column: 1/span 6;
      grid-row-start: 4;
      text-align: center;
      margin-left: -10%; }
    #mobilAlt .slagelsetekst {
      color: black;
      grid-column: 1/span 3;
      grid-row-start: 6;
      margin-top: 15px;
      display: none; }
    #mobilAlt .button1 {
      background-color: #f37121;
      width: 110px;
      height: 30px;
      margin-left: 100px;
      grid-column: 1/span 2;
      grid-row-start: 11;
      display: none; }
    #mobilAlt #circle2 {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 3px solid #f37121;
      grid-column: 7/span 5;
      grid-row-start: 15;
      margin-left: 70px;
      background-color: #f9f7f4; }
    #mobilAlt .world {
      display: block;
      width: 70%;
      height: auto;
      grid-column: 7/span 5;
      grid-row-start: 15;
      margin-left: 25%;
      margin-top: 25%;
      z-index: 1; }
    #mobilAlt .globalt {
      grid-column: 8/span 3;
      grid-row-start: 13;
      margin-left: 2%; }
    #mobilAlt .globaltekst {
      color: black;
      grid-column: 8/span 2;
      grid-row-start: 16;
      margin-top: -30px;
      margin-left: -30px;
      display: none; }
    #mobilAlt .button2 {
      background-color: #f37121;
      width: 110px;
      height: 30px;
      grid-column: 7/span 2;
      grid-row-start: 20;
      margin-left: 60px;
      display: none; } }
@media screen and (min-width: 1500px) {
  body {
    background-image: url("../images/network15002.png");
    background-repeat: no-repeat; }

  #left_menu {
    width: 20%; }

  #mobilAlt {
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 50px);
    grid-column-gap: 20px;
    width: 80%;
    font-size: 15pt; }
    #mobilAlt .dk {
      display: block;
      width: 80%;
      height: auto;
      grid-column: 3/span 2;
      grid-row-start: 5;
      margin-left: -27%;
      margin-top: 25%; }
    #mobilAlt .slagelse {
      grid-column: 1/span 6;
      grid-row-start: 4;
      text-align: center;
      margin-left: -20%; }
    #mobilAlt .button1 {
      background-color: #f37121;
      width: 110px;
      height: 30px;
      margin-left: 100px;
      grid-column: 1/span 2;
      grid-row-start: 11;
      display: none; }
    #mobilAlt .world {
      display: block;
      width: 55%;
      height: auto;
      grid-column: 7/span 5;
      grid-row-start: 15;
      margin-left: 18%;
      margin-top: 20%;
      z-index: 1; }
    #mobilAlt .globalt {
      grid-column: 8/span 3;
      grid-row-start: 13;
      margin-left: -35%; }
    #mobilAlt .globaltekst {
      color: black;
      grid-column: 7/span 2;
      grid-row-start: 16;
      margin-left: 50px;
      display: none; }
    #mobilAlt .button2 {
      background-color: #f37121;
      width: 110px;
      height: 30px;
      grid-column: 7/span 2;
      grid-row-start: 20;
      margin-left: 60px;
      display: none; } }

/*# sourceMappingURL=hvem_er_jci.css.map */
