// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Libre Baskerville', serif; //Font til overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Merriweather Sans', sans-serif; //Font til brødtekst
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

$baggrund: #f9f7f4;
$bluePrimary: #0097d7;
$orangePrimary: #f37121;
$overlay: rgba(93, 144, 183, 0.5);

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin ca_button{
  height: 30px;
  background-color: $orangePrimary;
  border: none;
  a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
  }
}

body{
  background-color: $baggrund;
}

.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $bluePrimary;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(35, 50px);
  p{
    font-size: 15pt;
  }
  #firstTitle{
    font-size: 25pt;
    grid-column: 1/span 6;
    grid-row-start: 2;
    text-align: center;
  }
  #slagelseTitle{
    font-size: 18pt;
    color: $orangePrimary;
    grid-column: 1/span 6;
    text-align: center;
    grid-row-start: 4;
    margin-top: 10%;

  }
  #indledning{
    font-size: 15pt;
    grid-column: 1/span 6;
    grid-row-start: 6;
    margin-top: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
  }
  .ca_cirkler{
    border-radius: 50%;
  }
  #ca_cirkel_1{
    background-image: url("../images/caroline_jci.png");
    grid-row: 10/span 7;
    grid-column: 1/span 6;
    height: 280px;
    width: 280px;
  }
  #firstBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 11;
    margin-top: 3%;
  }
  #firstBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 11;
    margin-top: 13%;
  }
  #firstBobleButton{
    @include ca_button;
    grid-row: 13/span 1;
    grid-column: 1/span 6;
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
  }
  #ca_cirkel_2{
    background-image: url("../images/caroline_aktiviteter.png");
    grid-row: 17/span 5;
    grid-column: 1/span 5;
    width: 230px;
    height: 230px;
  }
  #secondBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 1/span 3;
    margin-left: 18%;
    grid-row-start: 17;
    margin-top: 25%;
  }
  #secondBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 1/span 5;
    grid-row-start: 18;
    margin-top: 5%;
    margin-left: 10%;
  }
  #secondBobleButton{
    @include ca_button;
    grid-row: 20/span 1;
    margin-top: 0;
    grid-column: 1/span 4;
    width: 175px;
    margin-left: 15%;
  }
  #ca_cirkel_3{
    background-image: url("../images/caroline_partner.png");
    grid-row: 23/span 5;
    grid-column: 2/span 5;
    width: 230px;
    height: 230px;
  }
  #thirdBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 2/span 3;
    margin-left: 20%;
    grid-row-start: 24;
  }
  #thirdBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 2/span 5;
    grid-row-start: 24;
    margin-top: 13%;
    margin-left: 12%;
    width: 70%;
  }
  #thirdBobleButton{
    @include ca_button;
    grid-row: 26/span 1;
    margin-top: 10%;
    grid-column: 2/span 3;
    width: 150px;
    margin-left: 30%;
  }
  #ca_cirkel_4{
    background-image: url("../images/caroline_jci.png");
    grid-row: 29/span 7;
    grid-column: 1/span 6;
    width: 280px;
    height: 280px;
  }
  #fourthBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 1/span 4;
    margin-left: 15%;
    grid-row-start: 30;
    margin-top: 8%;
  }
  #fourthBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 31;
    margin-top: 0;
  }
  #fourthBobleButton{
    @include ca_button;
    grid-row: 32/span 1;
    margin-top: 18%;
    grid-column: 2/span 4;
    margin-left: 2%;
    width: 175px;
    height: 60px;
  }

}

footer{
  background-color: $bluePrimary;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 12px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}

// Variabler - med størrelser

@media screen and (min-width: 360px) {
  // iPhone 6/7/8

  #mobilAlt {

    grid-template-rows: repeat(37, 50px);

    #slagelseTitle {
      margin-top: 0;
    }

    #indledning{
      grid-column: 2/span 4;
    }

    #ca_cirkel_1{
      width: 100%;
      height: 350px;
    }

    #firstBobleTitle{
      grid-row-start: 12;
      margin-top: 10%;
    }
    #firstBobleText{
      margin-top: 5%;
      grid-row-start: 13;
    }
    #firstBobleButton{
      margin-top: 10%;
     grid-row-start: 14;
    }

    #ca_cirkel_2{
      grid-row-start: 18;
      height: 220px;
      width: 220px;
    }
    #secondBobleTitle{
      grid-row-start: 18;
      margin-left: 13%;
    }
    #secondBobleText{
      grid-row-start: 19;
      grid-column: 1/span 4;
      margin-top: 8%;
    }
    #secondBobleButton{
      grid-row-start: 21;
      margin-left: 12%;
      width: 165px;
    }

    #ca_cirkel_3{
      grid-column: 3/span 3;
      grid-row-start: 24;
      height: 220px;
      width: 220px;
    }
    #thirdBobleTitle{
      grid-column: 3/span 3;
      margin-left: 21%;
      margin-top: 22%;
    }
    #thirdBobleText{
      grid-row-start: 25;
      grid-column: 3/span 4;
      margin-left: 15%;
      margin-top: 8%;
      width: 80%;
    }
    #thirdBobleButton{
      grid-row-start: 27;
      margin-top: 0;
      grid-column: 3/span 3;
      margin-left: 20%;
    }

    #ca_cirkel_4{
      grid-row-start: 30;
      width: 100%;
      height: 350px;
    }
    #fourthBobleTitle{
      grid-row-start: 31;
      margin-left: 10%;
      margin-top: 22%;
    }
    #fourthBobleText{
      grid-row-start: 32;
      margin-top: 10%;
      margin-left: 7%;
      width: 300px;
    }
    #fourthBobleButton{
      grid-row-start: 34;
      grid-column: 1/span 6;
      width: 275px;
      height: 30px;
      margin-left: 9%;
      margin-top: 10%;
    }


  }

}

@media screen and (min-width: 410px) {
  // iPhone 6/7/8 plus

  #mobilAlt {

    grid-template-rows: repeat(39, 50px);

    #indledning {
      grid-column: 2/span 4;
    }

    #ca_cirkel_1 {
      height: 375px;
    }

    #firstBobleTitle {
      grid-row-start: 13;
      margin-top: 2%;
    }
    #firstBobleText {
      margin-top: 10%;
      grid-row-start: 13;
    }
    #firstBobleButton {
      margin-top: 2%;
      grid-row-start: 15;
      width: 55%;
      margin-left: 22%;
    }

    #ca_cirkel_2 {
      grid-row-start: 19;
      height: 250px;
      width: 250px;
    }
    #secondBobleTitle {
      grid-row-start: 20;
      margin-left: 13%;
      margin-top: 10%;
    }
    #secondBobleText {
      grid-row-start: 21;
      grid-column: 1/span 4;
      margin-top: 0;
    }
    #secondBobleButton {
      grid-row-start: 22;
      margin-left: 15%;
      margin-top: 7%;
      width: 165px;
    }

    #ca_cirkel_3 {
      grid-row-start: 25;
      height: 250px;
      width: 250px;
    }
    #thirdBobleTitle {
      grid-column: 3/span 3;
      margin-left: 20%;
      margin-top: 17%;
      grid-row-start: 26;
    }
    #thirdBobleText {
      grid-row-start: 27;
      grid-column: 3/span 4;
      margin-left: 15%;
      margin-top: 5%;
      width: 80%;
    }
    #thirdBobleButton {
      grid-row-start: 28;
      margin-top: 15%;
      grid-column: 3/span 3;
      margin-left: 27%;
    }

    #ca_cirkel_4 {
      grid-row-start: 31;
      height: 375px;
    }
    #fourthBobleTitle {
      grid-row-start: 33;
      margin-left: 10%;
      margin-top: 20%;
    }
    #fourthBobleText {
      grid-row-start: 34;
      margin-top: 8%;
      margin-left: 7%;
      width: 300px;
    }
    #fourthBobleButton {
      grid-row-start: 36;
      grid-column: 1/span 6;
      width: 275px;
      height: 30px;
      margin-left: 13%;
      margin-top: 5%;
    }

  }

}

@media screen and (min-width: 660px) {
  // iPhone 6/7/8 plus

  #mobilAlt {

    grid-template-rows: repeat(39, 50px);

    #indledning {
      grid-column: 2/span 4;
    }

    #ca_cirkel_1 {
      height: 375px;
    }

    #firstBobleTitle {
      grid-row-start: 13;
      margin-top: 2%;
    }
    #firstBobleText {
      margin-top: 10%;
      grid-row-start: 13;
    }
    #firstBobleButton {
      margin-top: 2%;
      grid-row-start: 15;
      width: 55%;
      margin-left: 22%;
    }

    #ca_cirkel_2 {
      grid-row-start: 19;
      height: 250px;
      width: 250px;
    }
    #secondBobleTitle {
      grid-row-start: 20;
      margin-left: 13%;
      margin-top: 10%;
    }
    #secondBobleText {
      grid-row-start: 21;
      grid-column: 1/span 4;
      margin-top: 0;
    }
    #secondBobleButton {
      grid-row-start: 22;
      margin-left: 15%;
      margin-top: 7%;
      width: 165px;
    }

    #ca_cirkel_3 {
      grid-row-start: 25;
      height: 250px;
      width: 250px;
    }
    #thirdBobleTitle {
      grid-column: 3/span 3;
      margin-left: 20%;
      margin-top: 17%;
      grid-row-start: 26;
    }
    #thirdBobleText {
      grid-row-start: 27;
      grid-column: 3/span 4;
      margin-left: 15%;
      margin-top: 5%;
      width: 80%;
    }
    #thirdBobleButton {
      grid-row-start: 28;
      margin-top: 15%;
      grid-column: 3/span 3;
      margin-left: 27%;
    }

    #ca_cirkel_4 {
      grid-row-start: 31;
      height: 375px;
    }
    #fourthBobleTitle {
      grid-row-start: 33;
      margin-left: 10%;
      margin-top: 20%;
    }
    #fourthBobleText {
      grid-row-start: 34;
      margin-top: 8%;
      margin-left: 7%;
      width: 300px;
    }
    #fourthBobleButton {
      grid-row-start: 36;
      grid-column: 1/span 6;
      width: 275px;
      height: 30px;
      margin-left: 13%;
      margin-top: 5%;
    }

  }

}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $bluePrimary;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }

  #lol{
    background-color: red;
    grid-column: 4/span 2;
    height: 200px;
  }

}

@media print {
  // Alt der gælder for print specifikt
}