* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

body {
  background-color: #f9f7f4; }

.web {
  display: none; }

#menuMobil {
  height: 60px;
  width: 100%;
  background-color: #0097d7;
  padding: 7px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  #menuMobil img {
    margin-left: 20px;
    height: 100%;
    width: auto; }
  #menuMobil i {
    color: white;
    margin: 5px 20px; }

#mobilAlt {
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(35, 50px); }
  #mobilAlt p {
    font-size: 15pt; }
  #mobilAlt #firstTitle {
    font-size: 25pt;
    grid-column: 1/span 6;
    grid-row-start: 2;
    text-align: center; }
  #mobilAlt #slagelseTitle {
    font-size: 18pt;
    color: #f37121;
    grid-column: 1/span 6;
    text-align: center;
    grid-row-start: 4;
    margin-top: 10%; }
  #mobilAlt #indledning {
    font-size: 15pt;
    grid-column: 1/span 6;
    grid-row-start: 6;
    margin-top: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif; }
  #mobilAlt .ca_cirkler {
    border-radius: 50%; }
  #mobilAlt #ca_cirkel_1 {
    background-image: url("../images/caroline_jci.png");
    grid-row: 10/span 7;
    grid-column: 1/span 6;
    height: 280px;
    width: 280px; }
  #mobilAlt #firstBobleTitle {
    font-size: 20pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 11;
    margin-top: 3%; }
  #mobilAlt #firstBobleText {
    font-size: 12pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 11;
    margin-top: 13%; }
  #mobilAlt #firstBobleButton {
    height: 30px;
    background-color: #f37121;
    border: none;
    grid-row: 13/span 1;
    grid-column: 1/span 6;
    width: 80%;
    margin-left: 10%;
    margin-top: 8%; }
    #mobilAlt #firstBobleButton a {
      text-decoration: none;
      color: white;
      font-size: 18pt; }
  #mobilAlt #ca_cirkel_2 {
    background-image: url("../images/caroline_aktiviteter.png");
    grid-row: 17/span 5;
    grid-column: 1/span 5;
    width: 230px;
    height: 230px; }
  #mobilAlt #secondBobleTitle {
    font-size: 20pt;
    color: white;
    grid-column: 1/span 3;
    margin-left: 18%;
    grid-row-start: 17;
    margin-top: 25%; }
  #mobilAlt #secondBobleText {
    font-size: 12pt;
    color: white;
    grid-column: 1/span 5;
    grid-row-start: 18;
    margin-top: 5%;
    margin-left: 10%; }
  #mobilAlt #secondBobleButton {
    height: 30px;
    background-color: #f37121;
    border: none;
    grid-row: 20/span 1;
    margin-top: 0;
    grid-column: 1/span 4;
    width: 175px;
    margin-left: 15%; }
    #mobilAlt #secondBobleButton a {
      text-decoration: none;
      color: white;
      font-size: 18pt; }
  #mobilAlt #ca_cirkel_3 {
    background-image: url("../images/caroline_partner.png");
    grid-row: 23/span 5;
    grid-column: 2/span 5;
    width: 230px;
    height: 230px; }
  #mobilAlt #thirdBobleTitle {
    font-size: 20pt;
    color: white;
    grid-column: 2/span 3;
    margin-left: 20%;
    grid-row-start: 24; }
  #mobilAlt #thirdBobleText {
    font-size: 12pt;
    color: white;
    grid-column: 2/span 5;
    grid-row-start: 24;
    margin-top: 13%;
    margin-left: 12%;
    width: 70%; }
  #mobilAlt #thirdBobleButton {
    height: 30px;
    background-color: #f37121;
    border: none;
    grid-row: 26/span 1;
    margin-top: 10%;
    grid-column: 2/span 3;
    width: 150px;
    margin-left: 30%; }
    #mobilAlt #thirdBobleButton a {
      text-decoration: none;
      color: white;
      font-size: 18pt; }
  #mobilAlt #ca_cirkel_4 {
    background-image: url("../images/caroline_jci.png");
    grid-row: 29/span 7;
    grid-column: 1/span 6;
    width: 280px;
    height: 280px; }
  #mobilAlt #fourthBobleTitle {
    font-size: 20pt;
    color: white;
    grid-column: 1/span 4;
    margin-left: 15%;
    grid-row-start: 30;
    margin-top: 8%; }
  #mobilAlt #fourthBobleText {
    font-size: 12pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 31;
    margin-top: 0; }
  #mobilAlt #fourthBobleButton {
    height: 30px;
    background-color: #f37121;
    border: none;
    grid-row: 32/span 1;
    margin-top: 18%;
    grid-column: 2/span 4;
    margin-left: 2%;
    width: 175px;
    height: 60px; }
    #mobilAlt #fourthBobleButton a {
      text-decoration: none;
      color: white;
      font-size: 18pt; }

footer {
  background-color: #0097d7;
  color: white;
  height: 150px;
  padding: 22px 50px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  footer p {
    margin-top: 12px; }
  footer #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    footer #some i {
      margin: 3px 0; }

@media screen and (min-width: 360px) {
  #mobilAlt {
    grid-template-rows: repeat(37, 50px); }
    #mobilAlt #slagelseTitle {
      margin-top: 0; }
    #mobilAlt #indledning {
      grid-column: 2/span 4; }
    #mobilAlt #ca_cirkel_1 {
      background-size: cover;
      width: 100%;
      height: 350px; }
    #mobilAlt #firstBobleTitle {
      grid-row-start: 12;
      margin-top: 10%; }
    #mobilAlt #firstBobleText {
      margin-top: 5%;
      grid-row-start: 13; }
    #mobilAlt #firstBobleButton {
      margin-top: 10%;
      grid-row-start: 14; }
    #mobilAlt #ca_cirkel_2 {
      background-size: cover;
      grid-row-start: 18;
      height: 220px;
      width: 220px; }
    #mobilAlt #secondBobleTitle {
      grid-row-start: 18;
      margin-left: 13%; }
    #mobilAlt #secondBobleText {
      grid-row-start: 19;
      grid-column: 1/span 4;
      margin-top: 8%; }
    #mobilAlt #secondBobleButton {
      grid-row-start: 21;
      margin-left: 12%;
      width: 165px; }
    #mobilAlt #ca_cirkel_3 {
      background-size: cover;
      grid-column: 3/span 3;
      grid-row-start: 24;
      height: 220px;
      width: 220px; }
    #mobilAlt #thirdBobleTitle {
      grid-column: 3/span 3;
      margin-left: 21%;
      margin-top: 22%; }
    #mobilAlt #thirdBobleText {
      grid-row-start: 25;
      grid-column: 3/span 4;
      margin-left: 15%;
      margin-top: 8%;
      width: 80%; }
    #mobilAlt #thirdBobleButton {
      grid-row-start: 27;
      margin-top: 0;
      grid-column: 3/span 3;
      margin-left: 20%; }
    #mobilAlt #ca_cirkel_4 {
      background-size: cover;
      grid-row-start: 30;
      width: 100%;
      height: 350px; }
    #mobilAlt #fourthBobleTitle {
      grid-row-start: 31;
      margin-left: 10%;
      margin-top: 22%; }
    #mobilAlt #fourthBobleText {
      grid-row-start: 32;
      margin-top: 10%;
      margin-left: 7%;
      width: 300px; }
    #mobilAlt #fourthBobleButton {
      grid-row-start: 34;
      grid-column: 1/span 6;
      width: 275px;
      height: 30px;
      margin-left: 9%;
      margin-top: 10%; } }
@media screen and (min-width: 410px) {
  #mobilAlt {
    grid-template-rows: repeat(39, 50px); }
    #mobilAlt #indledning {
      grid-column: 2/span 4; }
    #mobilAlt #ca_cirkel_1 {
      height: 375px; }
    #mobilAlt #firstBobleTitle {
      grid-row-start: 13;
      margin-top: 2%; }
    #mobilAlt #firstBobleText {
      margin-top: 10%;
      grid-row-start: 13; }
    #mobilAlt #firstBobleButton {
      margin-top: 2%;
      grid-row-start: 15;
      width: 55%;
      margin-left: 22%; }
    #mobilAlt #ca_cirkel_2 {
      grid-row-start: 19;
      height: 250px;
      width: 250px; }
    #mobilAlt #secondBobleTitle {
      grid-row-start: 20;
      margin-left: 13%;
      margin-top: 10%; }
    #mobilAlt #secondBobleText {
      grid-row-start: 21;
      grid-column: 1/span 4;
      margin-top: 0; }
    #mobilAlt #secondBobleButton {
      grid-row-start: 22;
      margin-left: 15%;
      margin-top: 7%;
      width: 165px; }
    #mobilAlt #ca_cirkel_3 {
      grid-row-start: 25;
      height: 250px;
      width: 250px; }
    #mobilAlt #thirdBobleTitle {
      grid-column: 3/span 3;
      margin-left: 20%;
      margin-top: 17%;
      grid-row-start: 26; }
    #mobilAlt #thirdBobleText {
      grid-row-start: 27;
      grid-column: 3/span 4;
      margin-left: 15%;
      margin-top: 5%;
      width: 80%; }
    #mobilAlt #thirdBobleButton {
      grid-row-start: 28;
      margin-top: 15%;
      grid-column: 3/span 3;
      margin-left: 27%; }
    #mobilAlt #ca_cirkel_4 {
      grid-row-start: 31;
      height: 375px; }
    #mobilAlt #fourthBobleTitle {
      grid-row-start: 33;
      margin-left: 10%;
      margin-top: 20%; }
    #mobilAlt #fourthBobleText {
      grid-row-start: 34;
      margin-top: 8%;
      margin-left: 7%;
      width: 300px; }
    #mobilAlt #fourthBobleButton {
      grid-row-start: 36;
      grid-column: 1/span 6;
      width: 275px;
      height: 30px;
      margin-left: 13%;
      margin-top: 5%; } }
@media screen and (min-width: 660px) {
  #mobilAlt {
    grid-template-rows: repeat(43, 50px); }
    #mobilAlt #slagelseTitle {
      grid-row-start: 3;
      margin-top: 5%; }
    #mobilAlt #indledning {
      grid-row-start: 5; }
    #mobilAlt #ca_cirkel_1 {
      grid-row-start: 8;
      grid-column: 2/span 4;
      height: 415px; }
    #mobilAlt #firstBobleTitle {
      grid-row-start: 13;
      margin-top: 0;
      margin-left: 27%; }
    #mobilAlt #firstBobleText {
      margin-top: 8%;
      width: 80%;
      margin-left: 15%;
      grid-column: 2/span 4;
      grid-row-start: 13; }
    #mobilAlt #firstBobleButton {
      margin-top: 0;
      grid-row-start: 15;
      grid-column: 2/span 4;
      width: 50%;
      margin-left: 25%; }
    #mobilAlt #ca_cirkel_2 {
      grid-row-start: 18;
      height: 310px;
      width: 310px; }
    #mobilAlt #secondBobleTitle {
      grid-row-start: 20;
      margin-left: 13%;
      margin-top: 10%; }
    #mobilAlt #secondBobleText {
      grid-row-start: 21;
      grid-column: 1/span 4;
      width: 50%;
      margin-top: 3%; }
    #mobilAlt #secondBobleButton {
      grid-row-start: 23;
      margin-left: 18%;
      margin-top: 0;
      width: 165px; }
    #mobilAlt #ca_cirkel_3 {
      grid-row-start: 26;
      grid-column: 4/span 3;
      height: 310px;
      width: 310px; }
    #mobilAlt #thirdBobleTitle {
      grid-column: 4/span 3;
      margin-left: 15%;
      margin-top: 11%;
      grid-row-start: 28; }
    #mobilAlt #thirdBobleText {
      grid-row-start: 29;
      grid-column: 4/span 3;
      margin-left: 15%;
      margin-top: 5%;
      width: 60%; }
    #mobilAlt #thirdBobleButton {
      grid-row-start: 31;
      margin-top: 0;
      grid-column: 4/span 3;
      margin-left: 27%; }
    #mobilAlt #ca_cirkel_4 {
      grid-row-start: 34;
      grid-column: 2/span 4;
      height: 415px; }
    #mobilAlt #fourthBobleTitle {
      grid-row-start: 38;
      grid-column: 2/span 4;
      margin-left: 7%;
      margin-top: 5%; }
    #mobilAlt #fourthBobleText {
      grid-row-start: 39;
      grid-column: 2/span 4;
      margin-top: 1%;
      margin-left: 7%;
      width: 80%; }
    #mobilAlt #fourthBobleButton {
      grid-row-start: 40;
      grid-column: 2/span 4;
      width: 275px;
      height: 30px;
      margin-left: 17%;
      margin-top: 5%; } }
@media screen and (min-width: 768px) {
  #mobilAlt {
    grid-template-rows: repeat(45, 50px); }
    #mobilAlt #ca_cirkel_1 {
      height: 480px; }
    #mobilAlt #firstBobleTitle {
      grid-column: 2/span 4;
      margin-left: 20%;
      margin-top: 10%; }
    #mobilAlt #firstBobleText {
      grid-row-start: 14;
      margin-top: 7%;
      margin-left: 20%;
      width: 70%; }
    #mobilAlt #firstBobleButton {
      grid-row-start: 16; }
    #mobilAlt #ca_cirkel_2 {
      width: 360px;
      height: 360px;
      grid-row-start: 19; }
    #mobilAlt #secondBobleTitle {
      grid-row-start: 23;
      margin-top: 0;
      margin-left: 21%; }
    #mobilAlt #secondBobleText {
      grid-row-start: 23;
      margin-top: 7%;
      margin-left: 15%; }
    #mobilAlt #secondBobleButton {
      grid-row-start: 25;
      margin-left: 20%; }
    #mobilAlt #ca_cirkel_3 {
      width: 360px;
      height: 360px; }
    #mobilAlt #thirdBobleTitle {
      margin-top: 0;
      grid-row-start: 30;
      margin-left: 22%; }
    #mobilAlt #thirdBobleText {
      grid-row-start: 30;
      width: 60%;
      margin-top: 10%;
      margin-left: 22%; }
    #mobilAlt #thirdBobleButton {
      grid-row-start: 32;
      margin-left: 28%; }
    #mobilAlt #ca_cirkel_4 {
      height: 480px;
      grid-row-start: 35; }
    #mobilAlt #fourthBobleTitle {
      grid-row-start: 40;
      margin-left: 17%;
      margin-top: 8%; }
    #mobilAlt #fourthBobleText {
      grid-row-start: 41;
      margin-top: 5%;
      margin-left: 17%;
      width: 70%; }
    #mobilAlt #fourthBobleButton {
      margin-top: 8%;
      grid-row-start: 42;
      margin-left: 21%; } }
@media screen and (min-width: 992px) {
  #mobilAlt {
    padding: 70px 50px 0 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: repeat(40, 50px);
    width: 100%;
    height: auto; }
    #mobilAlt #slagelseTitle {
      margin-top: 6%; }
    #mobilAlt #ca_cirkel_1 {
      grid-column: 6/span 5;
      height: 480px;
      grid-row-start: 1; }
    #mobilAlt #firstBobleTitle {
      grid-row-start: 6;
      margin-top: 6%;
      grid-column: 6/span 3;
      width: 100%;
      margin-left: 17%; }
    #mobilAlt #firstBobleText {
      grid-row-start: 7;
      margin-top: 0;
      grid-column: 6/span 5;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #firstBobleButton {
      grid-row-start: 8;
      margin-top: 10%;
      grid-column: 7/span 3;
      width: 80%;
      margin-left: 7%; }
    #mobilAlt #ca_cirkel_2 {
      grid-column: 2/span 4;
      width: 100%;
      height: 380px;
      grid-row-start: 9; }
    #mobilAlt #secondBobleTitle {
      grid-row-start: 12;
      margin-top: 15%;
      grid-column: 2/span 2;
      width: 100%;
      margin-left: 22%; }
    #mobilAlt #secondBobleText {
      grid-row-start: 13;
      margin-top: 4%;
      grid-column: 2/span 4;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #secondBobleButton {
      grid-row-start: 14;
      margin-top: 15%;
      grid-column: 2/span 3;
      width: 65%;
      margin-left: 35%; }
    #mobilAlt #ca_cirkel_3 {
      grid-column: 6/span 4;
      width: 100%;
      height: 380px;
      grid-row-start: 15; }
    #mobilAlt #thirdBobleTitle {
      grid-row-start: 15;
      margin-top: 8%;
      grid-column: 6/span 2;
      width: 100%;
      margin-left: 32%; }
    #mobilAlt #thirdBobleText {
      grid-row-start: 15;
      margin-top: 15%;
      grid-column: 6/span 4;
      width: 80%;
      margin-left: 15%; }
    #mobilAlt #thirdBobleButton {
      grid-row-start: 17;
      margin-top: 5%;
      grid-column: 6/span 4;
      width: 50%;
      margin-left: 24%; }
    #mobilAlt #ca_cirkel_4 {
      grid-column: 2/span 5;
      height: 480px;
      grid-row-start: 22; }
    #mobilAlt #fourthBobleTitle {
      grid-row-start: 21;
      margin-top: 10%;
      grid-column: 2/span 3;
      width: 100%;
      margin-left: 17%; }
    #mobilAlt #fourthBobleText {
      grid-row-start: 22;
      margin-top: 2%;
      grid-column: 2/span 5;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #fourthBobleButton {
      grid-row-start: 24;
      margin-top: 0;
      grid-column: 2/span 5;
      width: 75%;
      margin-left: 12%; } }
@media screen and (min-width: 1200px) {
  .web {
    display: inline; }

  .mobil, #menuMobil, footer {
    display: none; }

  #flex_alt {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between; }

  #left_menu {
    background-color: #0097d7;
    height: 195vh;
    width: 300px; }
    #left_menu #menuIndhold {
      position: fixed; }
      #left_menu #menuIndhold #logo {
        width: 65%;
        height: auto;
        margin: 30px 30% 0 30%; }

  #mobilAlt {
    grid-template-rows: repeat(32, 50px);
    height: auto; }
    #mobilAlt #ca_cirkel_1 {
      grid-column: 6/span 5;
      height: 445px;
      grid-row-start: 1; }
    #mobilAlt #firstBobleTitle {
      grid-row-start: 5;
      margin-top: 17%;
      grid-column: 6/span 3;
      width: 100%;
      margin-left: 17%; }
    #mobilAlt #firstBobleText {
      grid-row-start: 6;
      margin-top: 7%;
      grid-column: 6/span 5;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #firstBobleButton {
      grid-row-start: 8;
      margin-top: 0;
      grid-column: 7/span 3;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #ca_cirkel_2 {
      grid-column: 2/span 4;
      width: 100%;
      height: 350px;
      grid-row-start: 9; }
    #mobilAlt #secondBobleTitle {
      grid-row-start: 12;
      margin-top: 12%;
      grid-column: 2/span 2;
      width: 100%;
      margin-left: 22%; }
    #mobilAlt #secondBobleText {
      grid-row-start: 13;
      margin-top: 2%;
      grid-column: 2/span 4;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #secondBobleButton {
      grid-row-start: 14;
      margin-top: 10%;
      grid-column: 2/span 3;
      width: 64%;
      margin-left: 35%; }
    #mobilAlt #ca_cirkel_3 {
      grid-column: 6/span 4;
      width: 100%;
      height: 350px;
      grid-row-start: 16; }
    #mobilAlt #thirdBobleTitle {
      grid-row-start: 19;
      margin-top: 10%;
      grid-column: 6/span 2;
      width: 100%;
      margin-left: 32%; }
    #mobilAlt #thirdBobleText {
      grid-row-start: 20;
      margin-top: 1%;
      grid-column: 6/span 4;
      width: 80%;
      margin-left: 15%; }
    #mobilAlt #thirdBobleButton {
      grid-row-start: 21;
      margin-top: 6%;
      grid-column: 6/span 4;
      width: 40%;
      margin-left: 30%; }
    #mobilAlt #ca_cirkel_4 {
      grid-column: 2/span 5;
      height: 445px;
      grid-row-start: 23; }
    #mobilAlt #fourthBobleTitle {
      grid-row-start: 27;
      margin-top: 17%;
      grid-column: 2/span 3;
      width: 100%;
      margin-left: 17%; }
    #mobilAlt #fourthBobleText {
      grid-row-start: 28;
      margin-top: 7%;
      grid-column: 2/span 5;
      width: 80%;
      margin-left: 10%; }
    #mobilAlt #fourthBobleButton {
      grid-row-start: 30;
      margin-top: 0;
      grid-column: 2/span 5;
      width: 60%;
      margin-left: 20%; } }

/*# sourceMappingURL=index.css.map */
