// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Libre Baskerville', serif; //Font til overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Merriweather Sans', sans-serif; //Font til brødtekst
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

$bluePrimary: #0097d7;
$orangePrimary: #f37121;
$overlay: rgba(93, 144, 183, 0.5);

#flex_alt{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

#left_menu{
  background-color: $bluePrimary;
  height: 100vh;
  width: 200px;
}

#grid{
  padding: 70px 50px 50px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
  height: 600px;
  width: 100%;
}

#lol{
  background-color: red;
  grid-column: 4/span 2;
  height: 200px;
}

// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}