// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Libre Baskerville', serif; //Font til overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Merriweather Sans', sans-serif; //Font til brødtekst
  font-size: 15pt;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

$baggrund: #f9f7f4;
$bluePrimary: #0097d7;
$orangePrimary: #f37121;
$overlay: rgba(93, 144, 183, 0.5);

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin ca_button{
  height: 30px;
  background-color: $orangePrimary;
  border: none;
  a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
  }
}

body{
  background-color: $baggrund;
}

.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $bluePrimary;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}

footer{

}

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(36, 50px);
  #firstTitle{
    font-size: 25pt;
    grid-column: 1/span 6;
    grid-row-start: 2;
    text-align: center;
  }
  #slagelseTitle{
    font-size: 18pt;
    color: $orangePrimary;
    grid-column: 3/span 2;
    text-align: center;
    grid-row-start: 3;
    margin-top: 35px;
  }
  #indledning{
    font-size: 15pt;
    grid-column: 2/span 4;
    grid-row-start: 5;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
  }
  .ca_cirkler{
    border-radius: 50%;
  }
  #ca_cirkel_1{
    background-image: url("../images/caroline_jci.png");
    grid-row: 9/span 7;
    grid-column: 1/span 6;
    width: 350px;
  }
  #firstBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 1/span 4;
    margin-left: 15%;
    grid-row-start: 12;
    margin-top: 0;
  }
  #firstBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 12;
    margin-top: 10%;
  }
  #firstBobleButton{
    @include ca_button;
    grid-row: 14/span 1;
    grid-column: 2/span 4;
  }
  #ca_cirkel_2{
    background-image: url("../images/caroline_aktiviteter.png");
    grid-row: 17/span 5;
    grid-column: 1/span 5;
    width: 250px;
  }
  #secondBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 1/span 3;
    margin-left: 15%;
    grid-row-start: 18;
    margin-top: 0;
  }
  #secondBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 1/span 4;
    grid-row-start: 18;
    margin-top: 15%;
    margin-left: 10%;
  }
  #secondBobleButton{
    @include ca_button;
    grid-row: 20/span 1;
    margin-top: 10%;;
    grid-column: 1/span 4;
    width: 180px;
    margin-left: 15%;
  }
  #ca_cirkel_3{
    background-image: url("../images/caroline_partner.png");
    grid-row: 23/span 5;
    grid-column: 2/span 5;
    width: 250px;
  }
  #thirdBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 2/span 3;
    margin-left: 20%;
    grid-row-start: 24;
    margin-top: 20%;
  }
  #thirdBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 2/span 5;
    grid-row-start: 25;
    margin-top: 5%;
    margin-left: 12%;
    width: 70%;
  }
  #thirdBobleButton{
    @include ca_button;
    grid-row: 26/span 1;
    margin-top: 20%;
    grid-column: 2/span 3;
    width: 150px;
    margin-left: 30%;
  }
  #ca_cirkel_4{
    background-image: url("../images/caroline_jci.png");
    grid-row: 29/span 7;
    grid-column: 1/span 6;
    width: 350px;
  }
  #fourthBobleTitle{
    font-size: 20pt;
    color: white;
    grid-column: 1/span 4;
    margin-left: 15%;
    grid-row-start: 31;
    margin-top: 8%;
  }
  #fourthBobleText{
    font-size: 12pt;
    color: white;
    grid-column: 1/span 6;
    margin-left: 10%;
    grid-row-start: 32;
    margin-top: 0;
  }
  #fourthBobleButton{
    @include ca_button;
    grid-row: 33/span 1;
    margin-top: 11%;
    grid-column: 1/span 6;
    margin-left: 11%;
    width: 275px;
  }

}


footer{
  background-color: $bluePrimary;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}

// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $bluePrimary;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }

  #lol{
    background-color: red;
    grid-column: 4/span 2;
    height: 200px;
  }

}

@media print {
  // Alt der gælder for print specifikt
}