* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f9f7f4;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.web {
  display: none; }

#menuMobil {
  height: 60px;
  width: 100%;
  background-color: #0097d7;
  padding: 7px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  #menuMobil img {
    margin-left: 20px;
    height: 100%;
    width: auto; }
  #menuMobil i {
    color: white;
    margin: 5px 20px; }

#mobilAlt {
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(54, 50px); }

h1 {
  font-family: "Libre Baskerville", Serif;
  font-size: 25pt;
  grid-column: 1/span 6;
  grid-row: 2;
  text-align: center; }

.cirkel_1 {
  background-color: #ee7125;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  grid-column: 1/span 3;
  grid-row: 3;
  margin-top: 5%;
  z-index: 1; }

#projekt {
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 18pt;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  grid-column: 1/span 3;
  grid-row: 4;
  margin-top: 12%;
  z-index: 2; }
  #projekt a {
    grid-column: 1/span 3;
    grid-row: 4;
    margin-left: -15px;
    text-decoration: none;
    color: white; }

.hr_et {
  background-color: #0097d7;
  height: 3px;
  width: 95px;
  z-index: -1;
  grid-column: 3/span 2;
  grid-row: 5;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  margin-left: 17px;
  margin-top: 20px; }

.cirkel_2 {
  background-color: #ee7125;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  grid-column: 5/span 2;
  grid-row: 5;
  margin-left: -26px;
  z-index: 1; }

#medlem {
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  grid-column: 5/span 2;
  grid-row: 6;
  margin-left: -15%;
  margin-top: 5%;
  z-index: 2; }
  #medlem a {
    text-decoration: none;
    color: white; }

.hr_to {
  background-color: #0097d7;
  height: 3px;
  width: 95px;
  z-index: -1;
  grid-column: 3/span 2;
  grid-row: 7;
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  margin-left: 20px;
  margin-top: 5px; }

.cirkel_3 {
  background-color: #ee7125;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  grid-column: 2/span 2;
  grid-row: 7; }

#partner {
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  grid-column: 2/span 2;
  grid-row: 8;
  margin-top: -12px;
  margin-left: -10px;
  z-index: 2; }
  #partner a {
    text-decoration: none;
    color: white; }

.hr_tre {
  background-color: #0097d7;
  height: 3px;
  width: 95px;
  z-index: -1;
  grid-column: 3/span 2;
  grid-row: 9;
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg); }

.cirkel_4 {
  background-color: #ee7125;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  grid-column: 4/span 3;
  grid-row: 9; }

#aktivitet {
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  grid-column: 4/span 3;
  grid-row: 10;
  margin-right: 10px;
  margin-top: 8px;
  z-index: 2; }
  #aktivitet a {
    text-decoration: none;
    color: white; }

.hr_fire {
  background-color: #0097d7;
  height: 3px;
  width: 95px;
  z-index: -1;
  grid-column: 3/span 2;
  grid-row: 11;
  -ms-transform: rotate(155deg);
  -webkit-transform: rotate(155deg);
  transform: rotate(155deg);
  margin-left: -10px;
  margin-top: 5px; }

.cirkel_5 {
  background-color: #ee7125;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  grid-column: 1/span 2;
  grid-row: 11;
  margin-top: -12px; }

#bestyrrelse {
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  grid-column: 1/span 2;
  grid-row-end: 13;
  margin-left: 7px;
  margin-top: -30px;
  z-index: 2; }
  #bestyrrelse a {
    text-decoration: none;
    color: white; }

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20pt;
  font-weight: bold;
  margin-left: -10px; }

#projekttext, #medlemstext, #partnertext, #aktivitettext, #bestyrelsestext {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12pt;
  width: 250px;
  margin-left: -10px; }

#projektelement {
  grid-column: 1/span 6;
  grid-row: 14/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 50px); }
  #projektelement #projektoverskrift {
    grid-column: 2/span 3;
    grid-row: 1; }
  #projektelement #projekttext {
    grid-column: 2/span 3;
    grid-row: 2/span 7; }

#medlemselement {
  grid-column: 1/span 6;
  grid-row: 23/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 50px); }
  #medlemselement #medlemsoverskrift {
    grid-column: 2/span 3;
    grid-row: 1; }
  #medlemselement #medlemstext {
    grid-column: 2/span 3;
    grid-row: 2/span 7; }
  #medlemselement .knap {
    height: 30px;
    background-color: #ee7125;
    color: #f9f7f4;
    font-size: 18pt;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    grid-column: 2/span 3;
    grid-row: 9;
    margin-left: -10px; }

#partnerelement {
  grid-column: 1/span 6;
  grid-row: 33/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 50px); }
  #partnerelement #partneroverskrift {
    grid-column: 2/span 3;
    grid-row: 1; }
  #partnerelement #partnertext {
    grid-column: 2/span 3;
    grid-row: 2/span 7; }

#aktivitetelement {
  grid-column: 1/span 6;
  grid-row: 42/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 50px); }
  #aktivitetelement #aktivitetoverskrift {
    grid-column: 2/span 3;
    grid-row: 1; }
  #aktivitetelement #aktivitettext {
    grid-column: 2/span 3;
    grid-row: 2/span 7; }

#bestyrelseselement {
  grid-column: 1/span 6;
  grid-row: 51/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 50px); }
  #bestyrelseselement #bestyrelseoverskrift {
    grid-column: 2/span 3;
    grid-row: 1;
    width: 260px; }
  #bestyrelseselement #bestyrelsestext {
    grid-column: 2/span 3;
    grid-row: 2/span 2; }
  #bestyrelseselement .fa-angle-down {
    grid-column: 4/span 1;
    grid-row: 5;
    margin-left: -15px;
    margin-top: -10px; }

#bestyrelsesmedlemmer {
  display: none; }
  #bestyrelsesmedlemmer img {
    display: inline; }

.flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.bestyrelsesmedlem {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif; }
  .bestyrelsesmedlem #caroline, .bestyrelsesmedlem #lasse, .bestyrelsesmedlem #mie, .bestyrelsesmedlem #kamilla, .bestyrelsesmedlem #anna {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 3px solid #ee7125; }
  .bestyrelsesmedlem h3 {
    font-size: 11pt;
    margin-top: 5px; }
  .bestyrelsesmedlem .bestyrelsesmedlemtext {
    font-size: 9pt;
    margin-bottom: 25px;
    margin-top: 3px; }

footer {
  background-color: #0097d7;
  color: white;
  height: 150px;
  padding: 22px 50px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  footer p {
    margin-top: 15px; }
  footer #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    footer #some i {
      margin: 3px 0; }

@media screen and (min-width: 414px) {
  .cirkel_1 {
    grid-row: 4;
    margin-top: -10px; }

  #projekt {
    grid-row: 5;
    margin-top: 5px; }
    #projekt a {
      margin-left: -25px; }

  .hr_et {
    grid-row: 6;
    width: 140px; }

  .cirkel_2 {
    grid-row: 6;
    margin-left: -15px; }

  #medlem {
    grid-row: 7;
    margin-left: -8%; }

  .hr_to {
    grid-row: 8;
    width: 140px; }

  .cirkel_3 {
    grid-row: 8; }

  #partner {
    grid-row: 9; }
    #partner a {
      text-decoration: none;
      color: white;
      margin-left: -10%; }

  .hr_tre {
    grid-row: 10;
    width: 140px;
    margin-top: 15px; }

  .cirkel_4 {
    grid-row: 10; }

  #aktivitet {
    grid-row: 11;
    margin-right: 15%;
    margin-top: 5%; }

  .hr_fire {
    grid-row: 12;
    width: 140px;
    margin-left: -20px;
    margin-top: 10px; }

  .cirkel_5 {
    grid-row: 12; }

  #bestyrrelse {
    grid-row-end: 14;
    margin-left: -5%; }

  #projektelement {
    grid-row: 15/span 8; }

  #medlemselement {
    grid-row: 24/span 8; }

  #partnerelement {
    grid-row: 34/span 8; }

  #aktivitetelement {
    grid-row: 43/span 8; }

  #bestyrelseselement {
    grid-row: 52/span 8; } }
@media screen and (min-width: 768px) {
  #mobilAlt {
    grid-template-rows: repeat(51, 50px); }

  h1 {
    font-size: 30pt; }

  .cirkel_1 {
    width: 250px;
    height: 250px;
    grid-column: 2/span 2;
    grid-row: 4;
    margin-left: -30%; }

  #projekt {
    font-size: 24pt;
    grid-column: 2/span 2;
    grid-row: 6;
    margin-top: -5%;
    margin-left: -43%; }

  .hr_et {
    grid-row: 7;
    width: 250px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }

  .cirkel_2 {
    width: 200px;
    height: 200px;
    grid-row: 7;
    margin-left: 0;
    margin-top: -5%; }

  #medlem {
    font-size: 15pt;
    grid-column: 5/span 2;
    grid-row: 8;
    margin-left: 0;
    margin-right: 18%;
    margin-top: 10%; }

  .hr_to {
    grid-row: 11;
    width: 300px;
    margin-left: 0;
    margin-top: -10%;
    -ms-transform: rotate(155deg);
    -webkit-transform: rotate(155deg);
    transform: rotate(155deg); }

  .cirkel_3 {
    width: 175px;
    height: 175px;
    margin-top: -5%;
    grid-column: 2/span 2;
    grid-row: 11; }

  #partner {
    grid-row: 12;
    font-size: 18pt;
    margin-top: 5%;
    margin-right: 15%; }

  .hr_tre {
    grid-row: 13;
    width: 200px;
    margin-top: 25px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); }

  .cirkel_4 {
    width: 225px;
    height: 225px;
    grid-row: 13;
    margin-left: 10%; }

  #aktivitet {
    grid-row: 15;
    margin-right: 15%;
    margin-top: -3%; }

  .hr_fire {
    grid-column: 2/span 3;
    grid-row: 17;
    width: 300px;
    margin-left: 5%;
    margin-top: 10px; }

  .cirkel_5 {
    width: 150px;
    height: 150px;
    grid-column: 1/span 2;
    grid-row: 17;
    margin-left: 25%; }

  #bestyrrelse {
    font-size: 15pt;
    grid-column: 1/Span 2;
    grid-row: 18;
    margin-left: 15%;
    margin-top: -5%; }

  #projektelement {
    grid-row: 21/span 5;
    grid-template-rows: repeat(5, 50px); }
    #projektelement #projektoverskrift {
      grid-column: 2/span 3;
      grid-row: 1;
      margin-left: 0; }
    #projektelement #projekttext {
      grid-column: 2/span 4;
      grid-row: 2;
      width: auto;
      margin-left: 0; }

  #medlemselement {
    grid-row: 27/span 7;
    grid-template-rows: repeat(7, 50px); }
    #medlemselement #medlemsoverskrift {
      margin-left: 0; }
    #medlemselement #medlemstext {
      grid-column: 2/span 4;
      grid-row: 2;
      width: auto;
      margin-left: 0; }
    #medlemselement .knap {
      grid-column: 2/span 2;
      grid-row: 6;
      margin-left: 0; }

  #partnerelement {
    grid-row: 35/span 5;
    grid-template-rows: repeat(5, 50px); }
    #partnerelement #partneroverskrift {
      margin-left: 0; }
    #partnerelement #partnertext {
      grid-column: 2/span 4;
      grid-row: 2;
      width: auto;
      margin-left: 0; }

  #aktivitetelement {
    grid-row: 41/span 5;
    grid-template-rows: repeat(5, 50px); }
    #aktivitetelement #aktivitetoverskrift {
      grid-column: 2/span 3;
      grid-row: 1;
      margin-left: 0; }
    #aktivitetelement #aktivitettext {
      grid-column: 2/span 4;
      grid-row: 2;
      width: auto;
      margin-left: 0; }

  #bestyrelseselement {
    grid-row: 47/span 4;
    grid-template-rows: repeat(4, 50px); }
    #bestyrelseselement #bestyrelseoverskrift {
      width: 260px;
      margin-left: 0; }
    #bestyrelseselement #bestyrelsestext {
      grid-column: 2/span 4;
      grid-row: 2;
      width: auto;
      margin-left: 0; }
    #bestyrelseselement .fa-angle-down {
      grid-row: 4; }

  .bestyrelsesmedlem #caroline, .bestyrelsesmedlem #lasse, .bestyrelsesmedlem #mie, .bestyrelsesmedlem #kamilla, .bestyrelsesmedlem #anna {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid #ee7125; }
  .bestyrelsesmedlem h3 {
    font-size: 14pt;
    margin-top: 5px; }
  .bestyrelsesmedlem .bestyrelsesmedlemtext {
    font-size: 12pt;
    margin-bottom: 40px;
    margin-top: 5px;
    line-height: 18pt; } }
@media screen and (min-width: 1200px) {
  .web {
    display: inline; }

  .mobil, #mobilAlt, #menuMobil, footer {
    display: none; }

  #flex_alt {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between; }

  #left_menu {
    background-color: #0097d7;
    height: 100vh;
    width: 300px; }
    #left_menu #logo {
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto; }

  #grid {
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%; } }

/*# sourceMappingURL=JCI_Slagelse.css.map */
