// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  background-color: #f9f7f4;
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

$blue:#0097d7;
$orange:#ee7125;
$yellow:#fccc28;
$white:#f9f7f4;
$overlay: rgba(93, 144, 183, 0.5);

@mixin undertitle{
  font-family: 'Libre Baskerville', serif;
  font-size: 20pt;
  font-weight: bold;
}

@mixin undertext{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12pt;
}

@mixin buttoms{
  height: 30px;
  background-color: $orange;
  color: $white;
  font-size: 18pt;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

@mixin board_mobil{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid $orange;
}

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin streg{
  background-color: $blue;
  height: 3px;
  width: 95px;
  z-index: -1;
}







//--------------------------------------------------- Header mobil -----------------------------------------------
.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $blue;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}






//------------------------------------------------ Indhold mobil --------------------------------------------------

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(54, 50px);
}

h1{
  font-family: "Libre Baskerville", Serif;
  font-size: 25pt;
  grid-column: 1/span 6;
  grid-row: 2;
  text-align: center;
}

.cirkel_1{
  background-color: $orange;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  grid-column: 1/span 3;
  grid-row: 3;             
  margin-top: 5%;
  z-index: 1;
}

#projekt{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 18pt;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  grid-column: 1/span 3;   
  grid-row: 4;
  margin-top: 12%;
  z-index: 2;  
  a{
    grid-column: 1/span 3;
    grid-row: 4;
    margin-left: -15px;
    text-decoration: none;
    color: white;
  }

}


.hr_et{
  @include streg;
  grid-column: 3/span 2;
  grid-row: 5;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  margin-left: 17px;
  margin-top: 20px;
}


.cirkel_2{
  background-color: $orange;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  grid-column: 5/span 2;
  grid-row: 5;
  margin-left: -26px;
  z-index: 1;
}

#medlem{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  grid-column: 5/span 2;
  grid-row: 6;
  margin-left: -15%;
  margin-top: 5%;
  z-index: 2;  
  a{
   text-decoration: none;
   color: white;
  }
}


.hr_to{
  @include streg;
  grid-column: 3/span 2;            
  grid-row: 7;
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);                              
  margin-left: 20px;
  margin-top: 5px;
}                                   



.cirkel_3{
  background-color: $orange;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  grid-column: 2/span 2;
  grid-row: 7;
}

#partner{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  grid-column: 2/span 2;
  grid-row: 8;
  margin-top: -12px;
  margin-left: -10px;
  z-index: 2;  
  a{
   text-decoration: none;
   color: white;
  }                      
}


 .hr_tre{
   @include streg;
   grid-column: 3/span 2;
   grid-row: 9;
   -ms-transform: rotate(40deg);
   -webkit-transform: rotate(40deg);
   transform: rotate(40deg);
 }


.cirkel_4{
  background-color: $orange;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  grid-column: 4/span 3;
  grid-row: 9;
}


#aktivitet{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  grid-column: 4/span 3;
  grid-row: 10;
  margin-right: 10px;
  margin-top: 8px;
  z-index: 2;  
  a{
   text-decoration: none;
   color: white;
  }
}


.hr_fire{
  @include streg;
  grid-column: 3/span 2;
  grid-row: 11;
  -ms-transform: rotate(155deg);
  -webkit-transform: rotate(155deg);
  transform: rotate(155deg);
  margin-left: -10px;
  margin-top: 5px;
}


.cirkel_5{
  background-color: $orange;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  grid-column: 1/span 2;
  grid-row: 11;
  margin-top: -12px;
}


#bestyrrelse{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  grid-column: 1/span 2;
  grid-row-end: 13;
  margin-left: 7px;
  margin-top: -30px;
  z-index: 2;  
  a{                     
   text-decoration: none;
   color: white;
  }                      
}

h2{
  @include undertitle;
  margin-left: -10px;
}

#projekttext, #medlemstext, #partnertext, #aktivitettext, #bestyrelsestext{
  @include undertext;
  width: 250px;
  margin-left: -10px;
}


//--------------------------------------------------- projekt mobil --------------------------------------------------

#projektelement{
  grid-column: 1/span 6;
  grid-row: 14/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 50px);
  #projektoverskrift{                 
    grid-column: 2/span 3;            
    grid-row: 1;
  }                                                                       
  #projekttext{                       
    grid-column: 2/span 3;            
    grid-row: 2/span 7;
  }                                                                       
}


//--------------------------------------------------- medlem mobil --------------------------------------------------


#medlemselement {
  grid-column: 1/span 6;
  grid-row: 23/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 50px);
  #medlemsoverskrift{            
    grid-column: 2/span 3;       
    grid-row: 1;
  }                                                            
  #medlemstext{                  
    grid-column: 2/span 3;       
    grid-row: 2/span 7;
  }
  .knap{                  
    @include buttoms;
    grid-column: 2/span 3;
    grid-row: 9;
    margin-left: -10px;
  }                       
}




//--------------------------------------------------- partner mobil --------------------------------------------------


#partnerelement {
  grid-column: 1/span 6;
  grid-row: 33/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 50px);
  #partneroverskrift {
    grid-column: 2/span 3;
    grid-row: 1;
  }
  #partnertext {
    grid-column: 2/span 3;
    grid-row: 2/span 7;
  }
}


//--------------------------------------------------- aktivitet mobil --------------------------------------------------


#aktivitetelement {
  grid-column: 1/span 6;
  grid-row: 42/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 50px);
  #aktivitetoverskrift {
    grid-column: 2/span 3;
    grid-row: 1;
  }
  #aktivitettext {
    grid-column: 2/span 3;
    grid-row: 2/span 7;
  }
}


//--------------------------------------------------- bestyrrelse mobil --------------------------------------------------


#bestyrelseselement {
  grid-column: 1/span 6;
  grid-row: 51/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 50px);
  #bestyrelseoverskrift {
    grid-column: 2/span 3;
    grid-row: 1;
    width: 260px;
  }
  #bestyrelsestext {
    grid-column: 2/span 3;
    grid-row: 2/span 2;
  }
  .fa-angle-down {
    grid-column: 4/span 1;
    grid-row: 5;
    margin-left: -15px;
    margin-top: -10px;
  }
}


#bestyrelsesmedlemmer{
  display: none;
  img{
    display: inline;
  }
}

.flex{
  @include flex;
  justify-content: space-around;
}

.bestyrelsesmedlem{
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  #caroline, #lasse, #mie, #kamilla, #anna{
    @include board_mobil;
    }
  .round {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid $orange;
  }
  h3{
    font-size: 11pt;
    margin-top: 5px;
  }
  .bestyrelsesmedlemtext{
    font-size: 9pt;
    margin-bottom: 25px;
    margin-top: 3px;
  }
}




//--------------------------------------------------- Footer mobil --------------------------------------------------
footer{
  background-color: $blue;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}





@media screen and (min-width: 414px) {

  #projekt{
    a{
      margin-left: -25px;
    }
  }

  #hr_et{
    width: 120px;
  }

  .cirkel_2{
    margin-left: -15px;
  }


  #medlem{
      margin-left: -8%;
  }

  #partner{
    a{
      margin-left: -10%;
    }
  }

  #aktivitet{
    margin-right: 15%;
    margin-top: 5%;
  }

  #bestyrrelse{
    margin-left: -5%;
  }

  #hr_fire{
    width: 100px;
    margin-left: -15px;
    margin-top: 10px;
  }
}





@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  //--------------------------------------------------- Header web -----------------------------------------------
  @mixin board_web{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 4px solid $orange;
  }

  @mixin undertitle{
    font-family: 'Libre Baskerville', serif;
    font-size: 24pt;
    font-weight: bold;
  }

  @mixin undertext{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15pt;
  }

  @mixin menutext{
    font-family: 'Libre Baskerville', serif;
    font-size: 15pt;
  }

  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $blue;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }


  //------------------------------------------------ Indhold mobil --------------------------------------------------

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }




}
