// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  background-color: #f9f7f4;
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

$blue:#0097d7;
$orange:#ee7125;
$yellow:#fccc28;
$white:#f9f7f4;
$overlay: rgba(93, 144, 183, 0.5);

@mixin undertitle{
  font-family: 'Libre Baskerville', serif;
  font-size: 20pt;
  font-weight: bold;
}

@mixin undertext{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12pt;
}

@mixin buttoms{
  height: 30px;
  background-color: $orange;
  color: $white;
  font-size: 18pt;
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin board_mobil{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 4px solid $orange;
}

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

//--------------------------------------------------- Header mobil -----------------------------------------------
.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $blue;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}

//------------------------------------------------ Indhold mobil --------------------------------------------------

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(60, 50px);
}

h1{
  font-family: "Libre Baskerville", Serif;
  font-size: 25pt;
  grid-column: 1/span 6;
  grid-row: 2;
  text-align: center;
}

.cirkel_1{
  background-color: $orange;
  border-radius: 50%;
  width: 145px;
  height: 145px;
  grid-column: 1/span 3;
  grid-row: 3;
  margin-top: 5%;
}

#projekt{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  grid-column: 1/span 3;
  grid-row: 4;
  margin-top: 10%;
  margin-left: 3px;
  width: 140px;
}


.hr{
  background-color: $blue;
  height: 3px;
  width: 80px;
  grid-column: 3/span 2;
  grid-row: 5/ span 2;
}


.cirkel_2{
  background-color: $orange;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  grid-column: 5/span 2;
  grid-row: 5;
  margin-left: -11%;
}

#medlem{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  grid-column: 5/span 2;
  grid-row: 6;
  margin-left: -5%;
}


.cirkel_3{
  background-color: $orange;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  grid-column: 2/span 2;
  grid-row: 7;
}

#partner{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  grid-column: 2/span 2;
  grid-row: 8;
  margin-top: -12px;
  margin-left: -10px;
}


.cirkel_4{
  background-color: $orange;
  border-radius: 50%;
  width: 145px;
  height: 145px;
  grid-column: 4/span 3;
  grid-row: 9;
}


#aktivitet{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  grid-column: 4/span 3;
  grid-row: 10;
  margin-right: 15px;
  margin-top: 6px;
}


.cirkel_5{
  background-color: $orange;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  grid-column: 1/span 2;
  grid-row: 11;
  margin-top: -12px;
}


#bestyrrelse{
  color: white;
  font-family: "Libre Baskerville", Serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  grid-column: 1/span 2;
  grid-row-end: 13;
  margin-left: 7px;
  margin-top: -30px;
}

h2{
  @include undertitle;
}

#projekttext, #medlemstext, #partnertext{
  @include undertext;
  width: 240px;
}



#projektoverskrift{
  grid-column: 2/span 2;
  grid-row: 14;
}

#projekttext{
  grid-column: 2/span 3;
  grid-row: 15/span 7;
}




#medlemsoverskrift{
  grid-column: 2/span 2;
  grid-row: 23;
}

#medlemstext{
  grid-column: 2/span 3;
  grid-row: 24/span 7;
}



#partneroverskrift{
  grid-column: 2/span 2;
  grid-row: 32;
}

#partnertext{
  grid-column: 2/span 3;
  grid-row: 33/span 7;
}





//--------------------------------------------------- Footer mobil --------------------------------------------------
footer{
  background-color: $blue;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}













@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  //--------------------------------------------------- Header web -----------------------------------------------
  @mixin board_web{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 4px solid $orange;
  }

  @mixin undertitle{
    font-family: 'Libre Baskerville', serif;
    font-size: 24pt;
    font-weight: bold;
  }

  @mixin undertext{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15pt;
  }

  @mixin menutext{
    font-family: 'Libre Baskerville', serif;
    font-size: 15pt;
  }

  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $blue;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }


  //------------------------------------------------ Indhold mobil --------------------------------------------------

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }




}
