// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  background-color: #f9f7f4;
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Libre Baskerville', serif;
}
h1{
  font-size: 25pt;
}
h2{
font-size: 20pt;
}
h3{
  font-size: 15pt;
}


ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15pt;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

// Variabler - med størrelser
$blue:#0097d7;
$orange:#ee7125;
$yellow:#fccc28;
$white:#f9f7f4;

@mixin undertitle{
  font-family: 'Libre Baskerville', serif;
  font-size: 24pt;
  font-weight: bold;
}

@mixin undertext{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15pt;
}

@mixin menutext{
  font-family: 'Libre Baskerville', serif;
  font-size: 15pt;
}

@mixin buttoms{
  height: 30px;
  background-color: $orange;
  color: $white;
  font-size: 18pt;
  font-family: 'Merriweather Sans', sans-serif;
}
@mixin flex{
  display: flex;
  display: -webkit-flex;
}

.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $blue;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(15, 50px);
}


.indledning{
  text-align: center;
  grid-column: 1 / span 6;
  grid-row-start: 2;
}
.bold1{
  grid-column: 2 / span 5;
  grid-row-start: 5;
  border-radius: 50%;
  border: 3px solid $orange;
  height: 200px;
  width: 200px;
  color: $blue;
  margin-left: 10px;
}
.bold1tekst{
  grid-column: 2 / span 5;
  grid-row-start: 7;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  margin-top: -15px;
}
.bold1fuldtekst{
  grid-column: 2 / span 5;
  grid-row-start: 7;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  margin-top: -15px;
  display: none;
  z-index: 99;
}

.bold2{
  grid-column: 2 / span 5;
  grid-row-start: 10;
  border-radius: 50%;
  border: 3px solid $orange;
  height: 200px;
  width: 200px;
  color: $blue;
  margin-left: 10px;
}
.bold2tekst{
  grid-column: 2 / span 5;
  grid-row-start: 12;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  margin-top: -15px;
}

.bold2fuldtekst{
  grid-column: 2 / span 5;
  grid-row-start: 12;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  margin-top: -15px;
  display: none;
}

footer{
  background-color: $blue;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $blue;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }

}


@media print {
  // Alt der gælder for print specifikt
}



