// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  background-color: #f9f7f4;
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Libre Baskerville', serif;
}
h1{
  font-size: 25pt;
}
h2{
font-size: 20pt;
}
h3{
  font-size: 15pt;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15pt;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

// Variabler - med størrelser
$blue:#0097d7;
$orange:#ee7125;
$yellow:#fccc28;
$white:#f9f7f4;

@mixin undertitle{
  font-family: 'Libre Baskerville', serif;
  font-size: 24pt;
  font-weight: bold;
}

@mixin undertext{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15pt;
}

@mixin menutext{
  font-family: 'Libre Baskerville', serif;
  font-size: 15pt;
}

@mixin buttoms{
  height: 30px;
  background-color: $orange;
  color: $white;
  font-size: 18pt;
  font-family: 'Merriweather Sans', sans-serif;
}
@mixin flex{
  display: flex;
  display: -webkit-flex;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $blue;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}
#logo{
  display: none;
}

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(17, 50px);
}

.indledning{
  text-align: center;
  grid-column: 1 / span 6;
  grid-row-start: 2;
  margin-top: -10px;
}
.bold1{
  grid-column: 2 / span 5;
  grid-row-start: 5;
  border-radius: 50%;
  border: 3px solid $orange;
  height: 240px;
  width: 240px;
  color: $blue;
  margin-top: -5px;
  margin-left: -10px;
}
.bold1tekst{
  grid-column: 2 / span 5;
  grid-row-start: 7;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  a{
    text-decoration: none;
    color: $blue;
  }
}
.bold1fuldtekst{
  grid-column: 2 / span 5;
  grid-row-start: 7;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  display: none;
  z-index: 99;
}

.CTAbold1{
  grid-column: 2 / span 5;
  grid-row-start: 10;
  font-size: 18pt;
  width: 180px;
  height: 40px;
  background-color: $orange;
  text-align: center;
  padding: 5px;
  color: white;
  margin-left: 20px;
  margin-top: 7px;
  a{
    color: white;
    text-decoration: none;
  }
}

.bold2{
  grid-column: 2 / span 5;
  grid-row-start: 11;
  border-radius: 50%;
  border: 3px solid $orange;
  height: 240px;
  width: 240px;
  color: $blue;
  margin-top: 20px;
  margin-left: -10px;
}

.bold2tekst{
  grid-column: 2 / span 5;
  grid-row-start: 13;
  text-align: center;
  color: $blue;
  margin-right: 52px;
  margin-top: 20px;
  font-size: 19pt;
  font-family: 'Libre Baskerville', serif;
  a{
    text-decoration: none;
    color: $blue;
  }
}

.bold2fuldtekst{
  grid-column: 2 / span 5;
  grid-row-start: 13;
  text-align: center;
  color: $blue;
  margin-right: 50px;
  margin-top: -15px;
  display: none;
}
.CTAbold2{
  grid-column: 2 / span 5;
  grid-row-start: 17;
  font-size: 18pt;
  width: 180px;
  height: 40px;
  background-color: $orange;
  text-align: center;
  padding: 5px;
  color: white;
  margin-left: 20px;
  margin-top: -15px;
  a{
    color: white;
    text-decoration: none;
  }
}

footer{
  background-color: $blue;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}

@media screen and (min-width: 414px) {

.bold1tekst {
  grid-column: 2 / span 2;
  grid-row-start: 7;
  margin-left: 10px;
}
.bold2tekst{
  grid-column: 2 / span 2;
  grid-row-start: 13;
  margin-top: 25px;

  }


}






@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
  .bold1{
    grid-column: 1 / span 3;
    grid-row-start: 5;
    margin-left: 40px;
  }
  .bold1tekst{
    grid-column: 1 / span 3;
    grid-row-start: 7;
    margin-left: 10px;
  }
  .bold1fuldtekst{
    display: inline;
    grid-column: 3 / span 4;
    grid-row-start: 5;
    margin-left: 50px;
    margin-top: 10px;
  }
  .CTAbold1 {
    grid-column: 4 / span 3;
    grid-row-start: 8;

  }
  .bold2{
    grid-column: 4 / span 3;
    grid-row-start: 11;
    margin-top: 20px;
    margin-left: 70px;
  }
  .bold2tekst{
    grid-column: 4 / span 3;
    grid-row-start: 13;
    margin-top: 27px;
    margin-left: 70px;
  }
  .bold2fuldtekst {
    grid-column: 1 / span 4;
    grid-row-start: 12;
    margin-top: 20px;
    display: inline;
  }
  .CTAbold2 {
    grid-column: 2 / span 2;
    grid-row-start: 15;
    margin-top: 20px;
  }

}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  .bold1{
    grid-column: 1 / span 3;
    grid-row-start: 5;
    margin-left: 100px;
  }
  .bold1tekst{
    grid-column: 2 / span 2;
    grid-row-start: 7;
    margin-left: -155px;
  }
  .bold1fuldtekst{
    grid-column: 3 / span 3;
    grid-row-start: 5;
    margin-right: -20px;
    display: inline;
  }
  .CTAbold1{
    grid-column: 4 / span 3;
    grid-row-start: 8;

  }
  .bold2{
    grid-column: 5 / span 2;
    grid-row-start: 11;
    margin-top: 20px;
    margin-left: -10px;
  }
  .bold2tekst{
    grid-column: 4 / span 3;
    grid-row-start: 13;
    margin-top: 27px;
    margin-right: 10px;
  }
  .bold2fuldtekst{
    display: inline;
  }

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  .web{
    display: inline;
  }
  #logo{
    display: inline;
  }
  #menuMobil{
    display: none;
  }
  footer{
    display: none;
  }

  #mobilAlt{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $blue;
    height: 100vh;
    width: 300px;
    .menutekst{
      position: fixed;
    }
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }
  .indledning{
    grid-column: 3 / span 6;
    grid-row-start: 1;
  }
  .bold1tekst{
    grid-column: 3 / span 3;
    grid-row-start: 7;
  }
  .bold1fuldtekst{
    grid-column: 5 / span 5;
    grid-row-start: 4;
    margin-top: 60px;
  }
  .CTAbold1{
    grid-column: 6 / span 2;
    grid-row-start: 7;
    margin-left: 80px;
    margin-top: 55px;
  }
  .bold2{
    grid-column: 4 / span 3;
    grid-row-start: 11;
    margin-left: 280px;
  }
  .bold2tekst{
    grid-column: 6 / span 3;
    grid-row-start: 13;
    margin-right: -95px;
  }
  .bold2fuldtekst{
    grid-column: 1 / span 5;
    grid-row-start: 12;
    margin-right: -55px;
  }
  .CTAbold2{
    grid-column: 3 / span 2;
    grid-row-start: 15;
    margin-left: -20px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1500px) {
.bold1tekst{
  grid-column: 3 / span 2;
  grid-row-start: 7;
  margin-left: -220px;
}
  .bold2tekst{
    grid-column: 5 / span 2;
    grid-row-start: 13;
    margin-right: -260px;
  }
  #mobilAlt {
    grid-template-rows: repeat(19, 50px);
  }


}


@media print {
  // Alt der gælder for print specifikt
}



