// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  background-color: #f9f7f4;
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}




@mixin afsnit{
  font-size: 15pt;
  color: black;
  text-align: left;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: normal;
  font-weight: lighter;
}





@mixin button{
  background-color: #f37121;
  color: white;
  width: 70%;
  padding: 5px 10px;
  font-size: 18pt;
  border: none;
  cursor: pointer;
  margin: 10px;
}

$bluePrimary: #0097d7;
$orangePrimary: #f37121;
$overlay: rgba(93, 144, 183, 0.5);

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

.web{
  display: none;
}

#menuMobil{
  height: 60px;
  width: 100%;
  background-color: $bluePrimary;
  padding: 7px;
  @include flex;
  justify-content: space-between;
  img{
    margin-left: 20px;
    height: 100%;
    width: auto;
  }
  i{
    color: white;
    margin: 5px 20px;
  }
}

footer{

}

#mobilAlt{
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(57, 50px);
}





h1{
  font-size: 25pt;
  color: black;
  text-align: center;
    a{
      text-decoration: none;
      color: black;
    }
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start:2;

}
//---------------------------- Circkle FordelMobil---------------------->


.Fordele{
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 4;
  grid-row-start:4;
  a{
    text-decoration: none;
    color: black;
  }
  margin-top: -8%;
  margin-left: 11%;
}

#circle {
  width: 55%;
  height: 350%;
  border-radius: 100%;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 1/span 6;
  grid-row-start:4;
  margin-top: 48px;
}

.fordelikon{
margin-left: -20px;
  margin-top: 10px;

}



.line{
  width: 5px;
  height: 375%;
  background-color: #f37121;
  grid-column: 1/span 6;
  grid-row-start:7;
  transform: rotate(-30deg);
  margin-top: 20%;



}

//---------------------------- Circkle FordelMobil---------------------->







//---------------------------- Circkle PriserMobil---------------------->


.priser{
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 2/span 5;
  grid-row-start:8;
  margin-left: 70%;
  margin-top: 10px;
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

}


#circlepriser {
  width: 97px;
  height: 97px;
  border-radius: 50px;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 2/span 5;
  grid-row-start: 9;
  margin-left: 65%;
}



.priserikon{
  margin-left: -15%;
  margin-top: -85%;
}

//---------------------------- Circkle PriserMobil---------------------->







//---------------------------- Circkle StudierabatMobil---------------------->




.studierabat{
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start:11;
  margin-top: 3%;
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  margin-left: 10%;

}


#circlestudierabat {
  width: 55%;
  height: 350%;
  border-radius: 100%;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 1/span 6;
  grid-row-start:12;
}


.studierabatikon{
  margin-left: 4%;
  margin-top: -40%;
}


//---------------------------- Circkle StudierabatMobil---------------------->









//---------------------------- Circkle ChefMobil---------------------->



.chef{
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 4/span 3;
  grid-row-start:15;
  margin-top: 15%;
  margin-left: 25%;
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

}


#circlechef {
  width: 121px;
  height: 121px;
  border-radius: 60px;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 2/span 5;
  grid-row-start: 17;
  margin-left: 57%;

}


.chefikon{
  margin-left: -30%;
  margin-top: -45%;
}



//---------------------------- Circkle ChefMobil---------------------->

.meld_dig_ind{
  @include button;
  grid-column: 1/span 4;
  grid-row-start: 19;
  margin-top: -2%;

}


//---------------------------- Fordel_afsnit_mobil---------------------->



h2{
  font-size: 18pt;
  color: black;
  text-align: left;
  a{
    text-decoration: none;
    color: black;
  }
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start: 22;
  margin-left: 2%;
  margin-top: 3%;


}
#fordelafsnit{
  @include afsnit;
  grid-column: 1/span 6;
  grid-row-start: 23;
  margin-left: 2%;
}

//---------------------------- Fordel_afsnit_mobil---------------------->





//---------------------------- Priser_afsnit_mobil---------------------->




.priserafsnitoverskrift{
  grid-column: 1/span 6;
  grid-row-start: 31;
  margin-left: 2%;
}

#priserafsnit{
  @include afsnit;
  grid-column: 1/span 6;
  grid-row-start: 32;
  margin-left: 2%;
}

//---------------------------- Priser_afsnit_mobil---------------------->



.studierabatafsnitoverskrift{
  grid-column: 1/span 6;
  grid-row-start: 40;
  margin-left: 2%;
}

#studierabatafsnit{
  @include afsnit;
  grid-column: 1/span 6;
  grid-row-start: 41;
  margin-left: 2%;
}





//---------------------------- Få din chef_afsnit_mobil---------------------->


.fådinchefafsnitoverskrift{
  grid-column: 1/span 6;
  grid-row-start: 49;
  margin-left: 2%;
}

#fådinchefafsnit{
  @include afsnit;
  grid-column: 1/span 6;
  grid-row-start: 50;
  margin-left: 2%;
}






footer{
  background-color: $bluePrimary;
  color: white;
  height: 150px;
  padding: 22px 50px;
  @include flex;
  justify-content: space-between;
  p{
    margin-top: 15px;
  }
  #some{
    @include flex;
    flex-direction: column;
    i{
      margin: 3px 0;
    }
  }
}







// Variabler - med størrelser


@media screen and (min-width: 667px) {

//---------------------------- Circkle Fordel_lille_Ipad---------------------->

  #circle {
    width: 43%;
    height: 520%;
    border-radius: 100%;
  }


  .fordelikon{
    margin-left: -25px;
}


  .Fordele{
    grid-column: 1/span 3;
    grid-row-start:4;
    margin-top: -10%;
    margin-left: 23%;
  }

//---------------------------- Circkle Fordel_lille_Ipad---------------------->



//---------------------------- Circkle Priser_lille_Ipad---------------------->



  .priser{
    grid-column: 2/span 5;
    grid-row-start:8;
    margin-left: 76%;
    margin-top: 10px;


  }


  #circlepriser {
    width: 170px;
    height: 170px;
    border-radius: 95px;
    grid-column: 2/span 5;
    grid-row-start: 9;
    margin-left: 67.5%;
  }


  .priserikon{
    margin-left: -14.5%;
    margin-top: -85%;
  }


//---------------------------- Circkle Priser_lille_Ipad---------------------->




//---------------------------- Circkle Studierabat_lille_Ipad---------------------->




  .studierabat{
    grid-column: 1/span 6;
    grid-row-start:12;
    margin-top: 1%;
    margin-left: 10%;

  }


  #circlestudierabat {
    width: 40%;
    height: 500%;
    border-radius: 90%;
    grid-row-start:13;
  }


  .studierabatikon{
    margin-left: 5%;
    margin-top: -35%;
  }


  //---------------------------- Circkle Studierabat_lille_Ipad---------------------->









//---------------------------- Få din chef_lille_Ipad-------------------------------->


  .chef{
    grid-column: 4/span 3;
    grid-row-start:15;
    margin-top: 10%;
    margin-left: 50%;
  }


  #circlechef {
    width: 160px;
    height: 160px;
    border-radius: 90px;
    margin-left: 69.5%;
  }


  .chefikon{
    margin-left: -30%;
    margin-top: -45%;
  }

//---------------------------- Få din chef_lille_Ipad-------------------------------->



  .meld_dig_ind {
    background-color: #f37121;
    color: white;
    width: 150px;
    padding: 2px 9px;
    font-size: 18pt;
    border: none;
    cursor: pointer;
    margin: 10px;
  }














  

}




@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}


@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  .web{
    display: inline;
  }

  .mobil, #mobilAlt, #menuMobil, footer{
    display: none;
  }

  #flex_alt{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  #left_menu{
    background-color: $bluePrimary;
    height: 100vh;
    width: 300px;
    #logo{
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto;
    }
  }

  #grid{
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%;
  }



}

@media print {
  // Alt der gælder for print specifikt
}