* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f9f7f4;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.web {
  display: none; }

#menuMobil {
  height: 60px;
  width: 100%;
  background-color: #0097d7;
  padding: 7px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  #menuMobil img {
    margin-left: 20px;
    height: 100%;
    width: auto; }
  #menuMobil i {
    color: white;
    margin: 5px 20px; }

#mobilAlt {
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(60, 50px); }

h1 {
  font-size: 25pt;
  color: black;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start: 2; }
  h1 a {
    text-decoration: none;
    color: black; }

.Fordele {
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start: 4; }

#circle {
  width: 55%;
  height: 350%;
  border-radius: 100%;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 1/span 6;
  grid-row-start: 4;
  margin-top: 45px; }

.fordelikon {
  margin-left: -20px;
  margin-top: 10px; }

.priser {
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 2/span 5;
  grid-row-start: 10;
  margin-left: 70%;
  margin-top: 10px; }

#circlepriser {
  width: 97px;
  height: 97px;
  border-radius: 50px;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 2/span 5;
  grid-row-start: 11;
  margin-left: 65%; }

.priserikon {
  margin-left: -15%;
  margin-top: -85%; }

.studierabat {
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start: 14;
  margin-top: 3%; }

#circlestudierabat {
  width: 55%;
  height: 350%;
  border-radius: 100%;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 1/span 6;
  grid-row-start: 15; }

.studierabatikon {
  margin-left: 4%;
  margin-top: -40%; }

.chef {
  font-size: 16pt;
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 4/span 3;
  grid-row-start: 19;
  margin-top: 15%;
  margin-left: 25%; }

#circlechef {
  width: 121px;
  height: 121px;
  border-radius: 60px;
  background-color: #f9f7f4;
  border: 4px solid #0097d7;
  grid-column: 2/span 5;
  grid-row-start: 21;
  margin-left: 57%; }

.chefikon {
  margin-left: -30%;
  margin-top: -45%; }

.meld_dig_ind {
  background-color: #f37121;
  color: white;
  width: 70%;
  padding: 5px 10px;
  font-size: 18pt;
  border: none;
  cursor: pointer;
  margin: 10px;
  grid-column: 1/span 4;
  grid-row-start: 24;
  margin-top: -2%; }

h2 {
  font-size: 18pt;
  color: black;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  grid-column: 1/span 6;
  grid-row-start: 27;
  margin-left: 2%;
  margin-top: 3%; }
  h2 a {
    text-decoration: none;
    color: black; }

#fordelafsnit {
  font-size: 15pt;
  color: black;
  text-align: left;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: normal;
  font-weight: lighter;
  grid-column: 1/span 6;
  grid-row-start: 28;
  margin-left: 2%; }

.priserafsnitoverskrift {
  grid-column: 1/span 6;
  grid-row-start: 36;
  margin-left: 2%; }

#priserafsnit {
  font-size: 15pt;
  color: black;
  text-align: left;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: normal;
  font-weight: lighter;
  grid-column: 1/span 6;
  grid-row-start: 37;
  margin-left: 2%; }

footer {
  background-color: #0097d7;
  color: white;
  height: 150px;
  padding: 22px 50px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  footer p {
    margin-top: 15px; }
  footer #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    footer #some i {
      margin: 3px 0; }

@media screen and (min-width: 1200px) {
  .web {
    display: inline; }

  .mobil, #mobilAlt, #menuMobil, footer {
    display: none; }

  #flex_alt {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between; }

  #left_menu {
    background-color: #0097d7;
    height: 100vh;
    width: 300px; }
    #left_menu #logo {
      width: 65%;
      height: auto;
      margin: 30px auto 0 auto; }

  #grid {
    padding: 70px 50px 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    height: 600px;
    width: 100%; } }

/*# sourceMappingURL=privat_medlem.css.map */
